[<p><a class='pdf_file' href="[(#EVAL{_DIR_IMG}|concat{#ENV{valeur}}|url_absolue)]">[(#CHEMIN{prive/vignettes/pdf.png}|image_reduire{40}|inserer_attribut{alt,PDF file})]</a></p>
(#ENV{valeur}|et{[(#EVAL{_DIR_IMG}|concat{#ENV{valeur}}|file_exists)]})]
